body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: linear-gradient(90deg, #0247a2, #5f20f1);
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: white;
    padding: 20px;
    width: 300px;
    text-align: center;
}

label {
    display: block;
    margin-bottom: 8px;
}

input,
button {
    width: 100%;
    background-color: #e3e3e3;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
}

button {
    background: linear-gradient(130deg, #0247a2, #5f20f1);
    color: white;
    cursor: pointer;
}