body {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    padding: 0;
}

.container {
    background-color: #415a77;
    padding: 20px;
    border-radius: 8px;
}

h1 {
    color: #fff;
}

#password {
    background-color: #fff;
    margin-top: 20px;
    font-size: 20px;
    padding: 20px;
    width: 300px;
}

button {
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
    background-color: #e0e1dd;
    color: rgb(32, 31, 31);
    border: none;
    border-radius: 5px;
    margin-top: 20px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #293958;
    color: white;
}